/* .top-bg-image { */

/* #cover { */

body {
    background-image: url('../images/house-music-wallpaper.jpg');
    /* background-image: url('../images/main-cover-zoo10.jpg'); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.col-sm,
.col-12 {
    border: 1px solid #ccc;
}

.col-sm,
.col-6,
.col-9,
.col-3 {
    border: 1px solid red;
}

body {
    font-size: 20px;
}