 body {
     background-image: url('../images/house-music-wallpaper.jpg');
     /* background-image: url('../images/main-cover-zoo10.jpg'); */
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     font-size: 20px;

     color: #fff;
    }


 .active,
 .nav-link:hover {
     /* border: 1px solid #ccc; */
     background: #ccc;
     border-radius: 3px;
 }