.my_button {
    width: 800px;
    height: 60px;
	color: green;
	font-size: 20px;
	margin: 20px 0;
	
}


/*                               menu-top all
-----------------------------------------------------------------------------*/
.menu {
  font-family: inherit;
  font-size: 13px;
  float: left;
  margin: 10px 0 5px 53px;
  padding: 8px 8px 8px 10px;
  width: 1000px;
  height: 38px;
  text-decoration: none;
  border-top-left-radius: 10px;      border-top-right-radius: 10px;      border-bottom-right-radius: 10px;      border-bottom-left-radius: 10px;      
  background-image: rgba(34, 3, 29, 1);          
  background-color: rgba(34, 3, 29, 0.4);
  box-shadow: rgba(0, 158, 195, 0.498039) -3px -3px 8px inset, rgba(255, 255, 255, 0.89) 3px 3px 8px inset, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;      
  border-radius: 30px;
}

ul.cssmenu {
padding: 0;
margin: 0;
list-style: none;

} 

ul.cssmenu li {
  float: left;
  color: rgba(34, 3, 29, 1);
  font: 14px Arial;
  font-weight: bold;
  background: url(/pattern/menu5.png);
  width: 120px;
  height:38;
  float: left;
  padding: 11px 5px;
  margin: 0 0 0 15px;
  text-align: center;
} 

ul.cssmenu li a, ul.cssmenu li   {
text-decoration: none;
}

ul.cssmenu a:hover {
 color: rgba(34, 3, 29, 1);
 text-decoration: underline;
}

.menu a:visited {
color: rgba(34, 3, 29, 1);
}

.menu .active a {
  color: rgba();
  text-decoration: underline;  
}

/*                             end menu-top all
-----------------------------------------------------------------------------*/